@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-restricted-editing_mode_standard.ck.ck-content {
  min-height: 300px;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Noto+Serif+Bengali:wght@400;500;600&display=swap");

body {
  font-family: Ubuntu, "Noto Serif Bengali";
}

@layer base {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18.72px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 13.28px;
  }
  h6 {
    font-size: 10.72px;
  }
  code {
    background-color: #000;
    color: #fff;
    padding: 5px;
  }
}
.user:hover {
  text-decoration: dotted;
  text-decoration: underline;
}
.ck-content code {
  background-color: #000 !important;
  padding: 5px !important;
}
.postbody a {
  color: rgb(0, 102, 255);
}
.postbody a:hover {
  color: rgb(0, 102, 255);
  text-decoration: underline;
}
.backtotop svg circle {
  fill: transparent !important;
}

blockquote {
  background: #ddd;
  padding: 4px 11px;
  border-left: 4px solid #aaa;
}

/* Noticeboard */
/* width */
.notice::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.notice::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.notice::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.notice::-webkit-scrollbar-thumb:hover {
  background: #555;
}
